@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@import "./tokens.scss";

body {
  font-family: Inter, sans-serif !important;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.right-align {
  float: right;
}

.header-bg-primary {
  background-color: $color-primary-02-400;
  color: $color-grey-000;
}



@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
